body {
	display: grid;
	grid-template-columns: 18em 1fr;
	color: var(--color-s1);
	background-color: var(--color-s8);
	font-family: Noto-Serif;
}

body > div.page {
	display: none;
	grid-column: 2 / 2;
	padding: 0 5%;
}

body > div.selected {
	display: block;
}

h1, h2, h3 {
	font-family: Montserrat;
	text-align: center;
	margin: 0.5em 0;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 1.5em;
}

#navbar {
	grid-column: 1 / 2;
	background-color: #171717;
	color: var(--contrast-a1);
	min-height: 100vh;
}

#navbar header {
	border-width: 0;
	padding: 8px 16px;
	background-color: var(--color-l4);
	margin-bottom: 10px;
}

#navbar header h1 {
	font-size: 2em;
}

#navbar > div {
	font-family: Noto-Sans;
	padding: 0.5em 2em;
	margin: 0 5px;
	border-radius: 8px;
}


#navbar > div:hover {
	background-color: var(--contrast-a2);
	cursor: pointer;
/*	color: var(--color-l0);*/
}

#navbar	> div.selected:hover,
#navbar > div.selected {
	background-color: var(--color-s8);
	cursor: default;
}
