:root {
	--v1: 15vw;
}

@media (max-width:  800px) {
	:root {
		--v1: 15px;
	}
}

body {
	font-size: larger;
	color: white;
	background-color: #101005;
}

a:link,
a:visited,
a:active {
	color: cyan;
	text-decoration: none;
}

a:hover {
	color: red;
}

ul {
	list-style: none;
}

h2,
h3,
ul.p1,
table.t1,
p {
	padding-left: var(--v1);
	padding-right: var(--v1);
}

p,
ul li {
	text-align: justify;
	line-height: 25pt;
	/*text-align-last: center;*/
}

p,
footer,
table.t1 {
	overflow-x: auto;
}

table.t1 {
	padding-top: 40px;
	padding-bottom: 40px;
}

table.t1 th {
	text-align: right;
}

table.t1 th,
table.t1 td {
	padding: 0 10px;
}

h1 {
	color: #f55;
	text-align: center;
}

h2 {
	color: #f77;
}

h3 {
	color: #f99;
}

b {
	color: #0dd;
}

div.d1:nth-child(even) {
	border: 1px solid #333;
	border-radius: 0 25px;
}