:root {
	--v1: 15vw;
	/* gray border */
	--v2: #303020;
}

@media (max-width:  800px) {
	:root {
		--v1: 15px;
	}
}

body {
	font-size: larger;
	color: white;
	background-color: #101005;
}

a:link,
a:visited,
a:active {
	color: cyan;
	text-decoration: none;
}

a:hover {
	color: red;
}

ul {
	list-style: none;
}

h2,
h3,
ul.p1,
div.t1,
p {
	padding-left: var(--v1);
	padding-right: var(--v1);
}

p,
ul li {
	text-align: justify;
	line-height: 25pt;
	/*text-align-last: center;*/
}

p,
footer {
	overflow-x: auto;
}

div.t1 table {
	border-collapse: collapse;
}

div.t1 table th {
	text-align: left;
}

div.t1 table tr:not(:last-child) {
	/*background-color: black;*/
	border-bottom: 2px solid var(--v2);
}

div.t1 table th,
div.t1 table td {
	padding: 10px;
}

h1 {
	color: #f44;
	text-align: center;
}

h2 {
	color: #f66;
}

h3 {
	color: #f88;
}

b {
	color: #0dd;
}

div {
	overflow-x: auto;
}

div.d1:nth-child(even) {
	border: 2px solid var(--v2);
	border-radius: 0 25px;
}